# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python environment folders
venv/
env/
.env/

# VSCode settings folder
.vscode/

# Mac system files
.DS_Store

# TensorFlow logs and checkpoints
logs/
checkpoints/
*.ckpt

# Python packages
*.egg-info/
dist/
build/

# Pip cache
pip-wheel-metadata/

# BLIP model cache (transformers download folder)
transformers_cache/
cache/

# Others
*.h5
*.pb